* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-wrapper {
  width: 100%;
  background: #fff;
  position: relative;
}


.nav-bar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 160px;
  display: flex;
  align-items: center;

  justify-content: space-between; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 40px;
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.links a:hover {
  color: #ff8a00;
}

.btns {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btns a {
  color: black;
  font-size: 18px;
}

.login {
  width: 112px;
  height: 50px;
  border: none;
  border-radius: 133px;
  background: green;
  color: white;
  cursor: pointer;
}


.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 26px;
  height: 3px;
  background: black;
  transition: 0.3s;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 30px 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.3s;
}
.links a:focus{
  color: #ff8a00; 
}
.mobile-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.mobile-menu.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.logo p{
  border: 2px solid #ff8a00;
  width: 51px;
  color: white;
  background-color: #ff8a00;
height: 51px;
border-radius: 100px;
text-align: center;

padding-top: 13px;

}
.text {
  display: flex;
  justify-content: center;
  align-items: center;

}
.text .second{
  color: #ff8a00;
  font-size: 20px;
  font-weight: bold;
}
.mobile-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;

}
.mobile-actions a {
padding-left: 50px;
}
@media (max-width: 1024px) {
  .nav-bar {
    padding: 30px 60px;
  }
}


@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .nav-bar {
    padding: 16px 20px; 
  }

  .burger {
    display: flex;
  }
}


@media (max-width: 480px) {
  .logo {
    font-size: 16px;
  }
  .nav-bar{
    padding-top: 30px;
  }
}
